{% extends 'base.html' %}

{% block javascript %}



<script>



	$(function(){

		var form = $("#user_type").closest("form");
		var pic_old = null;
		var gover = null;

		function validate(X){

			if(X != ''){
				$.ajax({
					url: form.attr('validate'),
					data: {
						'letter_web': X,
					},
					dataType: 'json',

					success: function(data){

						var guess = data.guess;
						var pic = data.pics;
						var gover = data.game_over;
						var wrong_letter = data.wrong_letter;

						// if(!pic_old){
						// 	$("#hgpic").empty();
						// }

						if(wrong_letter !== ''){
							for(i = 0; i < pic.length; i++){
								if(pic_old){
									if(pic_old[i] !== pic[i]){
										$("#hgpic").children().eq(i).remove();
										$("#hgpic > pre:nth-child(" + (i) + ")").after("<pre class='dim-in'>" + pic[i] + "</pre>");
									}
								} else {
									$("#hgpic").children().eq(1).remove();
									$("#hgpic > pre:nth-child(" + (1) + ")").after("<pre class='dim-in'>" + pic[1] + "</pre>");
								}
							}
						}
						pic_old = pic


						// if(!guess_old){
						// 	$("#guessing").empty();
						// }
						console.log(guess)
						if(wrong_letter == ''){
								$("#guessing").empty();
							for(i = 0; i < guess.length; i++){
								$("#guessing").append("<span class='dim-in guess'>" + guess[i] + "</span>");
							}
						}

						if(wrong_letter !== ''){
							// for(i = 0; i < wrong_letter.length; i++){
								$("#wrongLetters_div").append("<dt class='dim-in' style='text-transform: capitalize; color:red;'>"+wrong_letter+"</dt>")
							// }
						}

						if(gover == 1){
							$("#won").remove();
							$("#user_type").prop('disabled', true);
							$("#form_div").animate({opacity: 0}, 1000, 'linear');
							setTimeout(function(){
								$('#form_div').remove();
								$("#lost").css('display', 'inline-block');
								$("#lost").animate({opacity: 1}, 2000, 'linear');
							}, 1000);
						} else if(gover == 0){
							$("#lost").remove();
							$("#user_type").prop('disabled', true);
							$("#form_div").animate({opacity: 0}, 1000, 'linear');
							setTimeout(function(){
								$('#form_div').remove();
								$("#won").css('display', 'inline-block');
								$("#won").animate({opacity: 1}, 2000, 'linear');
							}, 1000);
						}
					}
				});
			};
		};

		$("#user_type").keydown(function(event){
			if(event.keyCode == 13) {
				event.preventDefault();
				if(gover !== 0 || gover !== 1){
					var letter = $("#user_type").val();
					$("#user_type").val('');
					validate(letter);
					$("#user_type").focus();
				}
			}
		});
	});

</script>

{% endblock %}


{% block content %}
<div class='row'>
	<div id="top_players" class="top-players col lef">
		<p style="font-family:'Courier'; "">Top 5:</p>
		<ol style="font-family:'Courier';">
			{% for i in top %}<li>{{ i.1 }}</li>{% endfor %}
		</ol>
	</div>

	<div id="hgpic" class="col cen" style="padding:0px;">
	{% for i in pics %}<pre>{{ i }}</pre>{% endfor %}
	</div>

	<div class="col rig">
		<dl id="wrongLetters_div" style="font-family:'Courier'; text-align:left;">
		</dl>
	</div>

</div>

<br/>

<div class="inner_div">
	<label id="guessing">
{% for i in word_len %}<span class="guess">{{ i }}</span>{% endfor %}
	</label>
</div>

<br/>



<br/>

<div id="form_div" class="inner_div">
	<form autocomplete="off" id="form" method="POST" validate="{% url 'game' %}">
		{% csrf_token %}
		Input Letter:
		<br/>
		<input autocomplete="off" id='user_type' type="text" name="userLetter" maxlength="1" size="1" class="user-input">
		<br/>
		<input id="hidden_input" type="hidden">
	</form>
</div>

<br/>

<div id="lost" class="inner_div" style="display: none; opacity: 0;">
	<font size=16 color=red>Weakling...</font>
	<br/>
	<button type="button" class="btn btn-primary" onclick="location.reload()">Try Again</button>
</div>

<div id="won" class="inner_div" style="display: none; opacity: 0;">
	<font size=16 color=green>Congrats</font>
	<br/>
	<button type="button" class="btn btn-primary" onclick="location.reload()">Try Again</button>
</div>

{% endblock %}
